<style type="text/css">
<!--
.text {
	font-family: verdana;
	font-size: 12px;
	color: #000;
	width: 100%;
	padding: 10px;
	line-height: 130%;
}
.tabulka {
	width: 300px;
	clear: left;
	position: relative;
	margin-top: -27px;
	margin-left: 70px;
}
.tabulka1 {
	width: 300px;
	clear: left;
	position: relative;
	margin-top: -15px;
	margin-left: 70px;
}
.nadpis {
	font-family: verdana;
	font-size: 14px;
	color: #c30;
	font-weight: bold;
}
-->
</style>
<div class="text">
  <div class="nadpis">Certifik&aacute;ty</div>
  Text</div>